.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
    align-items: baseline;
    font-family: Lexand Deca;
}

.navbar-items-1 {
    color: antiquewhite
}

.navbar-items-2 {
    display: flex;
    column-gap: 20px;
    align-items: baseline;
    list-style-type: none;
}



.nav-btn {
    font-family: Lexand Deca;
    color: white;
    font-size: large;
    background-color: rgb(110, 110, 206);
    height: 11vh;
    width: 14vw;
    border-radius: 12px;
    border-color: rgb(110, 110, 206);
    border: none;
}

.navbar-item-a:hover {
    color: black;
    text-decoration: none;


}

.navbar-item-a {
    color: black;
    text-decoration: none;
    color: grey;
    text-align: justify
}

a {
    text-decoration: none;
}