.wrap {
    
    display: flex;
    justify-content: flex-end;
   

}

.searchTerm {
    height: 8vh;
    margin-top: 4vh;
    border-color: rgb(53, 105, 196);
    border-radius: 10px;
    border: none;
    width: 23vw;
    /* : rgb(53, 105, 196); */
    font-size: large;
}



.searchButton {
    height: 65%;
    color: rgb(53, 105, 196);
    background-color: white;
    border-radius: 10px
}