.section6-container {
    display: flex;
    justify-content: space-around;
    font-family: Noto
    Sans;
    margin-top: 3%;
}

.section6-conatianer-item-2 {
    display: flex;
}

/* .wrap-conatiner {
    display: flex;
    justify-content: baseline;
    /* margin-bottom: 30%; */


.icons-container {
    display: flex;
    justify-content: space-evenly;
    padding-right: 60%;
    margin-top: 30px;

}

.footer-conatiner {
    display: flex;
    justify-content: center;
    color: grey;
    margin-top: 5%;
}

.section6-container1 {
    display: flex;
    /* font-size: large; */
    flex-direction: column;
    /* justify-content: center; */
    margin-left: 10%;
    /* margin-right: 10%; */
}

.section6-container1-item-1 {
    font-size: larger;
    margin-right: 60%;
    font-weight: bold;
}

.section6-conatianer-item-img {
    border: solid;
    border-color: rgb(110, 110, 177);
    padding: 15px;
    border-radius: 12%;
    margin-right: 3%;
    margin-top: 4%;
}

.section6-conatianer-item-2 {
    font-size: large;
    font-weight: bold;
    margin-right: 40%;


}

.section6-conatianer-item-span {
    /* margin-left: 16%; */
    color: rgb(112, 112, 200);
}

.section6-conatianer-item-2:hover {
    /* transform: scale(1.1); */
    background-color: rgb(110, 110, 206);
    color: aliceblue;
    /* border-radius: 18px; */
    border-radius: 8px;

}

.section6-conatianer-item-span:hover {
    /* margin-left: 16%; */
    color: white;
}

.section6-container-2 {
    background-image: url("/src/Ellipse 9.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    font-size: large;
    font-weight: bold;
    margin-right: 50%;
}
.section6-container-2-para-2{
    color: grey;
 } 
 .section6-container-2-para-2-items{
    display: flex;
    justify-items:auto;
    /* height: 10px; */
    /* justify-content: space-around; */
 }
 .section6-container-2-para-2-items-img{
    height: 20%;
    margin-top: 5%;
    border: solid;
    border-radius: 50%;
    padding: 10px;
    
 }
 .section6-para-2{
    margin-left:12%;
 }
 .header-container{
    color: black;

 }
 .section6-container2{
    display: flex;
    flex-direction: column;

 }

 .section6-container2-para-1{
    font-size: x-large;
    font-weight: bold;
    margin-right: 40%;
 }
 #section6-container2-span-1{
    font-weight: bold;
    font-size: 140%;
    color: black;
 }
 .section6-container2-items2{
    color: grey;
    font-size: larger;
 }
 .wrap-conatiner-img{
    border-radius: 12px;
 }

.search-2{
    display: flex;
    /* background-color: grey; */
    /* border-radius: */
    /* justify-content: space-between; */
    /* margin-right:;  */
 }
 .searchTerm-2{
    background-color: rgba(117, 106, 106, 0.138);
    font-size: larger;
    border-radius: 10px;
 }
