.section1-flex {
    display: flex;
    justify-content: space-around;
    font-family: Noto Sans;

}

.section1-item-2 img {
    height: 30rem;
    /* width: ; */
}

.section1-item-1 {
    background-image: url("/src/Ellipse 7.png");
    background-position: right;
    background-repeat: no-repeat;
    margin: 4em;
    font-size: x-large
}

.section1-item-1 a {
    color: rgb(110, 110, 231)
}

.section1-btn-1 {
    color: rgb(40, 40, 248);
    background-color: white;
    height: 8vh;
    width: 16vw;
    border-radius: 4px;
    font-size: large;
    border-color: rgb(109, 109, 206);

}

.section1-btn-2 {
    color: rgb(40, 40, 248);
    background-color: white;
    height: 8vh;
    font-size: large;
    border-radius: 4px;
    width: 16vw;
    border-color: rgb(109, 109, 206);
}

.section1-btn-1:hover {
    transform: scale(1.1);
    background-color: rgb(110, 110, 206);
    color: aliceblue;


}

.section1-btn-2:hover {
    transform: scale(1.1);
    background-color: rgb(110, 110, 206);
    color: aliceblue;


}

.section1-para-1 {
    color: grey;
}

.section1-span-1 {
    text-decoration: underline;
    /* margin: 0% 50%; */
    line-height: normal;
    /* font-size: x-large; */
    font-weight: bold;
    text-decoration: none;
    border-bottom: 7px solid orange;
}