.section4-container {
    display: flex;
    font-family: Noto
    Sans;
    flex-direction: row;
    margin-top: 7em;
}

.section4-container3 {
    display: flex;
    justify-content: center;

}

.span-tag-2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    line-height: normal;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 7px solid orange;

}

.section4-container1 {
    margin: 2em 8em;
    margin-right: 5rem;
    
}


.section4-container-item-1 {
    font-size: x-large;
    margin-right: 5rem;

}

.section4-container-item-2 {
    background-image: url("/src/Ellipse 8.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 8vh;
    border: solid;
    padding: 5vw;
    font-size: large;
    border-radius: 15px;
    border-color: rgba(236, 229, 229, 0.907);
    /* margin-right: 5; */
    
}

.section4-container-item-3 {
    margin: 8vh;
    border: solid;
    padding: 8vh;
    font-size: large;
    border-radius: 15px;
    margin-right: 5rem;
    border-color: rgba(236, 229, 229, 0.907);

}
.section4-container2-item-1{
    margin: 8vh;
    border: solid;
    padding: 5vw;
    font-size: large;
    border-radius: 15px;
    margin-right: 5rem;
    border-color: rgba(236, 229, 229, 0.907);

}
.section4-container2-item-2{
    margin: 8vh;
    border: solid;
    padding: 5vw;
    font-size: large;
    border-radius: 15px;
    margin-right: 5rem;
    border-color: rgba(236, 229, 229, 0.907);

}
.section4-container2-item-3{
    font-size: x-large;
    /* margin-right: 4rem; */
    margin-top: 5rem;
    margin-left:2rem ;
    margin-right: 5rem;

}
.section4-container3{
    margin-top: 8rem;
    margin-bottom: 6rem;
}