.Secton2-items {
    /* color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    font-family: Noto Sans;
    background-image: url("/src/Ellipse 8.png");
    background-position: left;
    background-repeat: no-repeat;

}

.Section2-item1-a {
    margin-bottom: 2%;
    color: rgb(110, 110, 192);
    display: inline-block;
    /* background-image: url('/src/Group 117.png') no-repeat; */
}


.Section2-item1-p {

    text-align: center;
    font-size: x-large;
    margin: 5% 20%;
    color: grey;
    background-image: url("/src/Ellipse 8.png");
    background-position: left;
    background-repeat: no-repeat;
}

.span-tag-1 {
    text-decoration: underline;
    margin: 0% 50%;
    line-height: normal;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 7px solid orange;
}

.Section2-item1-h1 {
    text-align: center;
    margin: 0%
}

/* .img-section-2{
    /* display: inline-block; */
/* color: red; */