.section5-container {

    display: flex;
    font-family: Noto Sans;
    justify-content: space-between;
    /* margin: 3rem; */
    list-style: none;

}

.section5-container-1 {
    display: flex;
    flex-direction: column;
    font-size: 120%;
    padding: right 20px;
    ;
    /* justify-content:flex-start; */
    color: rgb(99, 99, 255);
    border-radius: 18px;
    border-color: white;

    /* text-align: center; */
    /* margin: 0 3rem;
    padding-right:2rem ;
    padding-left: 2rem; */
    margin-left: 4em;
    /* background-color: rgb(99, 99, 255); */
    /* justify-content: flex-start; */

}

.section5-container-2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    font-size: small;
    /* padding-right:4rem ;
    padding-left: 2rem;  */
    font-size: 120%;
    color: rgb(99, 99, 255);

}

.section5-container-3 {
    display: flex;
    flex-direction: column;
    /* font-size: large; */
    font-size: small;
    color: rgb(99, 99, 255);
    font-size: 120%;


}

.btn {
    color: rgb(99, 99, 255);
    border-color: rgb(99, 99, 255);
    border-radius: 4px;
    background-color: white;
    font-size: larger;
    margin-top: 20px;
    padding: 10px 5px 15px 2px
}

.span-tag-item {
    font-size: 80%;
    color: rgba(176, 169, 169, 0.831);
}

.section5-container-1:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    scale: 1.09;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: 0.5s;
    color: white;



}

.section5-container-2:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    scale: 1.09;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: 0.5s;
    color: white;

}

.section5-container-3:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    scale: 1.09;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: 0.5s;
    color: white;
}

.list-item-1 {
    list-style-image: url('/src/Group 35.png');
    height: 30px;
    padding-top: 2px;
    padding-left: 44px;
}

.btn:hover {
    border-radius: 8px;
}