.container {
    display: flex;
    justify-content: space-around;
    font-family: Noto Sans;
    /* font-size:20vh */
}

.card1 {
    /* color: brown; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 0% 2% 0% 6%;
}

.card2 {
    /* color: brown; */
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0% 2.5% 0% 2.5%;
}

.card3 {
    /* color: brown; */
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0% 2.5% 0% 2.5%;
}

.anchor-tag {
    text-decoration: none;
    color: orange;
}

.img-tag {
    width: 10%;
    background-image: url("/src/Ellipse 12.png");
    background-position: top left;
    background-repeat: no-repeat;
}

.section3-para {
    color: grey;
}